<div class="landing-wrapper" ng-controller="IdeaController">
  <div class="location-form">
    <h1 class='location-heading'>Welcome!</h1>
    <div class="location-text-wrapper">
      <p class='location-msg'>Want great recommendations for living a more spontaneous and exciting life provided to you regularly?</p>
      <p class='location-msg'>Enter your zipcode and we'll do the rest</p>
    </div>
    <form class="location-form" ng-submit="getLocation(location)">
      <input class="location-zip" type="text" placeholder="Zipcode" value="" ng-model="location">
      <input class="location-submit" type="submit">
    </form>
  </div>
</div>
