<!-- <div class="sidebar" idea-list>
<div class="btnList">
<button idea-button class="backBtn" ng-click="goBack()">Back</button>
</div>
</div> -->
<div class="listWrapper" ng-if="eventList" ng-controller="ListController">

  <div class="suggestion-details">
    <span class="suggestion-description">DESCRIPTION: {{ idea }}</span>
  </div>
  <div class="list-item" ng-repeat="result in apiResults">
    <span class="event name">{{ result.business }}</span>
    <span class="event description"> {{ result.reviews }}</span>
    <span class="event cost">{{ result.rating }}</span>
  </div>


</div>



<!-- 
  <div class="list-item">
    <span class="event name">Event name</span>
    <span class="event description">Event description</span>
    <span class="event cost">Event cost/rating</span>
  </div>
  <div class="list-item">
    <span class="event name">Event name</span>
    <span class="event description">Event description</span>
    <span class="event cost">Event cost/rating</span>
  </div> -->