<!--
<div class="sidebar" idea-list>
<div class="btnList">
<button idea-button class="backBtn" ng-click="goBack()">Back</button>
</div>
</div> -->
<img class="spinner" src='/loading_gif/rainbow.gif'>
<div class="listWrapper" ng-if="eventList" ng-controller="ListController">

  <a href="{{ wikiResults.link }}" target="_blank">
    <div class="list-item">
      <span class="suggestion-description">{{ wikiResults.description }}</span>
    </div>
  </a>
  <div ng-repeat="result in yelpResults | orderBy: '-rating' ">
    <a href="{{ result.yelp_url }}" target="_blank">
      <div class="list-item">
        <div class="event name">
          <span>{{ result.business }}</span><br>
          <span>{{ result.phone }}</span>
        </div>
        <span class="event description">Review: {{ result.reviews }}</span>
        <div class="event rating">
          <span >Rating: {{ result.rating }}</span>
          <img src="{{ result.rating_image }}" class="yelpstars">
        </div>

      </div>
    </a>
  </div>
</div>



<!--
  <div class="list-item">
    <span class="event name">Event name</span>
    <span class="event description">Event description</span>
    <span class="event cost">Event cost/rating</span>
  </div>
  <div class="list-item">
    <span class="event name">Event name</span>
    <span class="event description">Event description</span>
    <span class="event cost">Event cost/rating</span>
  </div> -->
