<div class="wrapper collapsed" idea-button>
  <div class="message-toggle" ng-class="class" ng-click="getList()" ui-sref=".list({searchTerm: data.yelpSearch})">
      <div class="centerMessage">
        <span class="centerMessageText" model="{{ idea }}" animate-idea>{{ idea }}</span>
      </div>
    <div id="expander">
      <div id="circle">
        <div class="half-height"></div>
        <div id="text" class="half-height"
        ng-class="{'toggle-down': !dropdown, 'toggle-up': dropdown}">
      </div>
      </div>
    </div>
  </div>

  <img class="spinner" src='/loading_gif/rainbow.gif'>
  <div ui-view></div>

  <a ui-sref="home">
    <button class="get-idea-btn" ng-click="getIdea()">
      <div class='btn-inner'>{{ button }}</div>
    </button>
  </a>
</div>
