<div class="navbar" idea-button>
  <sidepanel></sidepanel>
  <!-- <div>
    <select id="filterMenu" name="select">
      <option value="Random!" selected>Random!</option>
      <option value="Little Gifts">Little Gifts</option>
      <option value="Fun Activities">Fun Activities</option>
      <option value="Quick Trips">Quick Trips</option>
      <option value="What to Eat">What to Eat</option>
    </select>
  </div> -->
  <div class="navbar-item">
    <button class="signup-btn">Sign Up</button>
  </div>
</div>
