<div class="navbar" ng-controller="FilterController">
  <div id="filter-menu" class="sidebar">
    <div class="menu-link" ng-click="showSidebar()">
      <a class="menu" href="">{{ header }}</a>
    </div>
    <div class="list">
      <ul class="sidebar-list">
        <a href="" ng-repeat="filter in filters" ng-click="setActive(filter); showSidebar()"
        ng-class="{target: filter === activeFilter}"
        class="sidebar-list-item">{{ filter }}</a>
      </ul>
    </div>
  </div>
  <div class="navbar-count">
    <input id="result-count" type="range" min="0" max="25" step="5" ng-model="resultCount" value="5">
    <span class="result-count-message">Result count: {{ resultCount }}</span>
  </div>
  <div class="navbar-location">
    <form ng-submit="changeLocation(location)">
      <input id="location-reset" type="text" ng-model="location" placeholder="Change zipcode">
      <button class="location-reset-btn">Submit</button>
    </form>
  </div>
  <div class="navbar-item" ng-click="loadSignup()">
    <button class="signup-btn">Sign Up</button>
  </div>
</div>
