<div id="mySidebar" class="sidebar">
  <a href="#" ng-controller="SidebarController" ng-click="showSidebar()">☰ Menu</a>
  <!-- <span onclick="showSidebar()"></span> -->
  <!-- <span onclick="hideSidebar()"></span> -->
  <ul class="sidebar-list">
    <li class="sidebar-list-item">Random!</li>
    <li class="sidebar-list-item">Little Gifts</li>
    <li class="sidebar-list-item">Fun Activities</li>
    <li class="sidebar-list-item">Quick Trips</li>
    <li class="sidebar-list-item">What to Eat</li>
  </ul>
</div>
