<!-- signup page -->
<div class="landing-wrapper" ng-controller="signUpController">
  <div class="location-form">
    <header class="location-heading">Sign up</header>
    <p class="location-text-wrapper location-msg">Want great recommendations for living a more spontaneous and exciting life provided to you regularly? Sign up with Spontaneo and never struggle with that "what should we do" conversation again!</p>
    <form class="location-form" ng-submit="getCredentials(email)">
      <!-- <input type="text" placeholder="Username" value="" ng-model="username"> -->
      <input class="signup-email" type="text" placeholder="Email" value="" ng-model="email">
      <input class="location-submit" type="submit" name="Log in">
    </form>
    <div class="cancelApplication" >
      <!-- <span style="color: blue;" ng-click="cancelSignUp()">cancel</span> -->
      <i class="fa fa-arrow-circle-o-left fa-3x" aria-hidden="true" ng-click="cancelSignUp()"></i>
    </div>
  </div>
</div>