*:focus {
    outline: none;
}
html, body {
  margin: 0;
  /*background-image: url("http://www.pretty-streets.com/portal/img_external/layer/bg-heading-dark.jpg");*/
  background: url('./walls.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; /* Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */
  background-size: cover;
  font-family: "Optima",Helvetica,Arial,sans-serif;
}
.container {
  margin: 0 auto;
  margin-bottom: 60px;
  margin-left: 200px;
  margin-right: 200px;
}
.centerMessage {
  background-color: white;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  overflow: hidden;
  line-height: 60px;
  font-size: 40px;
  opacity: .9;
}
.centerMessageText {
  display: block;
  color: #3e4b5a;
  text-transform:uppercase;
}
.getInfo:hover {
  background-color: white;
  opacity: 1;
  cursor: pointer
}
.getInfo:active {
  font-size: 38px;
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.5);
}
.noInfo {
}

.wrapper {
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  min-width: 700px;
  min-height: 280px;
  background-color: rgba(233, 246, 251, 0.55);
}

.navbar {
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  margin: 0;
  border-bottom: 1px solid #868686;
  background-color: rgba(107, 124, 142, .9);
}
.navbar > div {
  float: right;
}
/*.navbar > div:first-child {
  float: left;
}*/
.footer {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  background: rgba(107, 124, 142, .9);
  padding: 6px 20px 6px 6px;
  border-top: 1px solid #868686;
  color: white;
  text-align: right;
}
.footer span {
  margin-right: 25px;
}
.listWrapper {
  text-align: left;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
  display: none;
  max-height: 0px;
  /*border: 1px solid #868686;*/
}
/* List values */
.list-item > .suggestion-description {
  text-align: left;
  margin: 10px;
  /*padding: 10px;*/
  display: block;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.list-item {
  padding: 10px;
  overflow: hidden;
  /*border-top: 1px solid #868686;*/
  border-radius: 5px;
  background-color: white;
  opacity: .9;
  margin: 5px;
  color: #3e4b5a;
}
.list-item:hover {
  opacity: 1;
  /* #fffaef; */
  cursor: pointer;
}
.name {
  width: 25%;
  float: left;
  margin: 5px 0px 5px 0px;
  font-style: italic;
  text-align: left;
}
.description {
  width: 55%;
  float: left;
  text-align: left;
}
.rating {
  width: 10%;
  float: right;
  /*margin-top: 5px;*/
  text-align: right;
}
.event {
  padding: 0 1%;
/*  margin-left: 10px;
  margin-right: 10px;*/
}

.yelpstars {
  height: 80%;
  width: 80%;
}

/*====================*/
/* Unhide to see a sidebar panel */
/*.sidebar {
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  bottom: 0;
  text-align: left;
  color: #fff;
  background-color: #3c4b5b;
  opacity: .9;
}*/
#mySidebar {
  width: 200px;
  position: fixed;
  margin-top: 40px;
}
.menu-link {
  background-color: rgba(233, 246, 251, 0.55);
  margin-right: 40px;
  border-top-right-radius: 5px;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-list-item {
  display: block;
  background-color: #34495e;
  color: #fff;
  line-height: 2em;
  padding: 5px 30px;
  width: 100px;
  opacity: 0.85;
  cursor: pointer;
}
.sidebar-list-item:not(.target):hover {
  background-color: #2c3e50;
}
a.target {
  background-color: #4a6580;
}
.btnList {
  width: 275px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#filterMenu {
  border: 1px solid #868686;
}
.suggestion-details {
  margin: 10px;
  padding: 10px;
}
.suggestion-description {

}
/* Button List */
.get-idea-btn {
	width:250px;
  height:125px;
  display:inline-block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:30px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e;
  padding-top:6px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  cursor:pointer;
  border: none;
  background: #109bce;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #656565;
}
.get-idea-btn:hover {
  background: #2aa2ce;
}
.get-idea-btn:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #656565;
}
.ideaBtnNext {
  background-color: red !important;
}
.backBtn {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #70db70 50%, #70db70 50%, #83e883 50% );
  margin: 10px 0 10px 0;
  border: 1px solid #868686;
}
.dislike {
  background-color: red;
}
.like {
  background-color: green;
}
.button {
  text-align: center;
}
.mainscreen {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid black;
}
.sidescreen {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.spinner {
  display: none;
  margin: auto;
  height: 150px;
  width: 150px;
}

/*Sign in page ----------------------------------------*/
.signUpPage {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 600px;
  height: 575px;
  border-radius: 15px;
  background-color: rgba(107, 124, 142, .9);
}

.signHeader {
  position: absolute;
  font-size: 50px;
  color: white;
  width: 175px;
  /*margin: auto;*/
  /*centered*/
  margin-left: 175px;
}

.signUpDescription {
  width: 515px;
  margin: auto;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: -5;
  font-size: 22px;
  left: 340px;
}

.signUpForm {
  margin: auto;
  width: 600px;
  margin-left: 30px;

  border-top-width: 2px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 30px;
}

.submit {
  margin: auto;
  width: 89%;
  padding-top: 15px;
  border-top-width: 2px;
  margin-top: 20px;
  padding-bottom: 15px;
}

input {
  width: 85%;
  border-radius: 10px;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-width: 2px;
  margin-top: 20px;
  padding-left: 15px;
}

.submit:hover {
  cursor: pointer;
  background-color: rgba(238, 131, 89, 0.87);
}

input:hover {
  border-color: rgba(238, 131, 89, 0.87);
}

/*sign up button* -------------------*/


.cancelApplication {
  margin-top: 10px;
}
/*end sign up button* -------------------*/

/*end of sign in page ----------------------------------------*/
