*:focus {
    outline: none;
}
html, body {
  margin: 0;
  /*background-image: url("http://www.pretty-streets.com/portal/img_external/layer/bg-heading-dark.jpg");*/
  background: url('./walls.jpg') no-repeat center center fixed;
  -webkit-background-size: cover; /* Chrome */
  -moz-background-size: cover; /* Firefox */
  -o-background-size: cover; /* Opera */
  background-size: cover;
  font-family: "Optima",Helvetica,Arial,sans-serif;
}
.container {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 60px;
}
.centerMessage {
  background-color: white;
  padding: 10px;
  /*border: 1px solid #868686;*/
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  line-height: 60px;
  font-size: 50px;
  opacity: .9;
  border-radius: 5px;
}
.centerMessageText {
  display: block;
}
.getInfo:hover {
  background-color: white;
  opacity: 1;
  cursor: pointer
}
.getInfo:active {
  font-size: 49px;
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.5);
}
.noInfo {
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  height: 40px;
  line-height: 40px;
  margin: 0;
  border-bottom: 1px solid #868686;
  background-color: rgba(107, 124, 142, .9);
}
.footer {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  background: rgba(107, 124, 142, .9);
  padding: 6px 20px 6px 6px;
  border-top: 1px solid #868686;
  color: white;
  text-align: right;
}
.footer span {
  margin-right: 25px;
}
.listWrapper {
  text-align: left;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 40px;
  /*border: 1px solid #868686;*/
}
/* List values */
.list-item > suggestion-description {
  text-align left;
  margin: 10px;
  /*padding: 10px;*/
  display: block;
  text-align: left;
  background-color: gray;
  opacity: .9;
  border-radius: 5px
}

a {
  text-decoration: none;
  color: black;
}

.list-item {
  padding: 10px;
  overflow: hidden;
  /*border-top: 1px solid #868686;*/
  border-radius: 5px;
  background-color: white;
  opacity: .9;
  margin: 5px;
}
.list-item:hover {
  opacity: 1;
  /* #fffaef; */
  cursor: pointer;
}
.name {
  width: 25%;
  float: left;
  margin: 5px 0px 5px 0px;
  font-style: italic;
  text-align: left;
}
.description {
  width: 55%;
  float: left;
  text-align: left;
}
.rating {
  width: 10%;
  float: right;
  /*margin-top: 5px;*/
  text-align: right;
}
.event {
  padding: 0 1%;
/*  margin-left: 10px;
  margin-right: 10px;*/
}

.yelpstars {
  height: 80%;
  width: 80%;
}

/*====================*/
.sidebar {
  float: left;
  text-align: center;
}
.btnList {
  width: 275px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#filterMenu {
  border: 1px solid #868686;
}
.suggestion-details {
  margin: 10px;
  padding: 10px;
}
.suggestion-description {

}
/* Select options */
/*@keyframes spinIn {
  0% {
    transform: translateY(200%);
  }
  60% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes spinOut {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-200%);
  }
}
.test {
  animation: spinOut 0.3s ease-in;
}*/
/* Button List */
.get-idea-btn {
  width: 250px;
  height: 150px;
  background: linear-gradient(30deg, #f7a72f 50%, #F9C231 50% );
  font-size: 35px;
  margin: 0 40px;
  border: 1px solid #868686;
  font-family: "Optima",Helvetica,Arial,sans-serif;
}
.get-idea-btn:hover {
  cursor: pointer;
  background: linear-gradient(30deg, #f5ac3e 50%, #f9c848 50% );
}
.get-idea-btn:hover .btn-inner {
  cursor: pointer;
  background-color: #fdcd51;
}
.get-idea-btn:active {
  font-size: 30px;
  background: linear-gradient(30deg, #da9329 50%, #e4b22e 50% );
  box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.get-idea-btn:active .btn-inner {
  width: 65%;
  height: 55%;
  background-color: #ecbb3a;
}
.btn-inner {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #ffca3f;
  height: 60%;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
}
.ideaBtnNext {
  background-color: red !important;
}
.backBtn {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #70db70 50%, #70db70 50%, #83e883 50% );
  margin: 10px 0 10px 0;
  border: 1px solid #868686;
}
.dislike {
  background-color: red;
}
.like {
  background-color: green;
}
.button {
  text-align: center;
}
.mainscreen {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid black;
}
.sidescreen {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.spinner {
  display: none;
  margin: auto;
  height: 125px;
  width: 125px;
}
